.surfcard-container {
    font-family: sans-serif;
    background-color: #f6f6f6;
    display: inline-block;
    padding: 2px 10px 10px 10px;
}

h1.surf-header {
    color: #000;
    font-size: 25px
}

table.forecast {
    width: 120px;
    border-spacing: 0;
    color: #000;
}

table.forecast th {
    font-weight: bold;
}

table.forecast th,
table.forecast td {
    font-size: 15px;
    text-align: left;
    padding: 10px 5px 10px 10px;
}

table.forecast .time .swell .wind{
    width: 120px;
}

.surfcard-webcam-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.surfcard-webcam-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}